<p>
  ng-for-grouped
</p>
<ul *ngFor="let group of peopleByCountry">
  <li *ngIf="group.country === 'UK'" class="text-success">{{group.country}} </li>
  <li *ngIf="group.country === 'USA'" class="text-primary">{{group.country}} </li>
  <li *ngIf="group.country === 'HK'" class="text-danger">{{group.country}} </li>
  <ul *ngFor="let person of group.people" >
    <li>{{person.name}}</li>
  </ul>
</ul> 

<ul *ngFor="let group of peopleByCountry" [ngSwitch]="group.country" >
    <li *ngSwitchCase ="'UK'" class="text-success"> </li>
    <li *ngSwitchCase ="'USA'" class="text-primary"> </li>
    <li *ngSwitchCase ="'HK'" class="text-danger"> </li>
    <ul *ngFor="let person of group.people" >
      <li>{{person.name}}</li>
    </ul>
  </ul> 