<div class="container">
    <h1> Hello, there!</h1>
    <div class="row">
        <div class="col-sm-3 col-md-6 col-lg-4" style="background-color: yellow; box-shadow: inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi, placeat dicta officiis nemo aut rerum cupiditate
                obcaecati ipsa dolorem blanditiis facilis perferendis. Ipsum modi, tempore voluptates nihil magnam temporibus
                sunt.
            </p>

            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam omnis enim fuga modi nam saepe error suscipit.
                Aperiam neque, architecto maxime, distinctio voluptate tenetur dicta deleniti obcaecati commodi nulla praesentium.</p>
        </div>

        <div class="col-sm-9 col-md-6 col-lg-8" style="background-color: yellow; box-shadow:inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet vel quaerat mollitia nulla. Velit, doloremque beatae
                tenetur nihil accusamus fuga neque molestiae eum incidunt reprehenderit repellendus debitis, quidem impedit
                tempora.
            </p>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea eaque molestiae quasi. Delectus, placeat neque. Veniam,
                fugiat. Ad, consequatur soluta iure hic atque ipsa. Blanditiis animi iure omnis id explicabo.</p>
        </div>
    </div>
</div>

<div class="container" style="padding:40px">
    <div class="row visible-on">
        <div class="col-xs-6 col-sm-3" style="background-color: yellow; box-shadow:inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
            <span class="hidden-xs"> Extra Small</span>
            <span class="visible-xs">Visible on x-small</span>
        </div>
        <div class="col-xs-6 col-sm-3" style="background-color: yellow; box-shadow:inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
            <span class="hidden-sm">Small</span>
            <span class="visible-sm">Visible on small</span>
        </div>
        <div class="clearfix visible-xs"></div>
        <div class="col-xs-6 col-sm-3" style="background-color: yellow;  box-shadow:inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
            <span class="hidden-md">Medium</span>
            <span class="visible-md">Visible on medium</span>
        </div>
        <div class="col-xs-6 col-sm-3" style="background-color: yellow; box-shadow:inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
            <span class="hidden-lg">Large</span>
            <span class="visible-lg">Visible on large</span>
        </div>
    </div>
</div>