<h1 *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</h1>

<div *ngIf="!(authService.user | async)">
  <input type="text" [(ngModel)]="email" placeholder="email">
  <input type="password" [(ngModel)]="password" placeholder="password">

  <button (click)="signup()" [disabled]="!email || !password">
    Signup
  </button>

  <button (click)="login()" [disabled]="!email || !password">
    Login
  </button>


</div>
<div *ngIf="authService.user | async">
  <div>
    <input type="text" name="valueTodo" #valueToDo >

    <button (click)="addTodo(valueToDo.value)" >
     Add
    </button>
</div>
<ul>
    <li *ngFor="let todo of todo$ | async"
        [class.completed]="todo.completed">
      {{ todo.description }}
    </li>
  </ul>
</div>
<button (click)="logout()" *ngIf="authService.user | async">
  Logout
</button>