<form [formGroup]="form" (ngSubmit)="onsubmit()">
<div class="card card-block">
  <pre class="card-text">{{form.value.comment}}</pre>
</div>
<p class="small">{{form.value.lastUpdate | date:'shortTime'}}</p>
<div class="form-group">
  <label for="comment"> Comment</label>
  <textarea class="form-control" formControlName="comment" rows="3"></textarea>
  <small class="form-text text-muted">
    <span>{{100- form.value.comment.length}}</span>
  </small>
</div>
<div class="form-group">
  <label for="name">Name</label>
  <input type="text" class="form-control" formControlName="name" placeholder="Enter a name">
</div>
<div class="form-group">
  <label for="email">Email</label>
  <input type="email" class="form-control" formControlName="email" placeholder="Enter Email">
  <small class="form-text text-muted">
     Non condivideremo la tua email con nessuno
    </small>
</div>
<button class="btn btn-primary" [disabled]="!form.valid">Submit</button>
</form>